<!DOCTYPE html>
<html>
<head>
  <title>Birdseed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="page-header row">
  <h1>Burdseed</h1>


  <div class="col-xs-6">
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to "Home", root_path %></li>
      <li role="presentation"><%= link_to "All Users", users_path %></li>
      <li role="presentation" ><%= link_to "Posts", posts_path %></li>
      <li role="presentation"><%= link_to "Sign In", sign_in_path %></li>
      <li role="presentation"><%= link_to "Sign Out", sign_out_path %></li>
      <li role="presentation"><%= link_to "People You Follow", following_path %></li>
      <li role="presentation"><%= link_to "Timeline", timeline_path %></li>
      <li role="presentation"><%= link_to "New Post", create_post_path, method: :post %></li>

    </ul>
  </div>
</div>

  <% if alert %>
  <p class=" alert alert-danger">
      <%= alert %>
  </p>
  <% end %>


  <% if notice %>
  <p class = "alert alert-success">
    <%= notice %>
  </p>
  <% end %>

    <%= yield %>

  </div>


</body>
</html>
